@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./font.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: #FCFAFA;
  font-family: 'IBMPlexSansThai' !important;
  color: #000;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: url('../public/images/effect1.png'), url('../public/images/effect2.png'), url('../public/images/effect3.png'), url('../public/images/effect4.png');
  background-repeat: no-repeat;
  background-position: 0% 978px, 100% 1430px, 0% 2406px, 100% 3577px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text_bold {
  font-family: 'IBMPlexSansThai-Bold';
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3 !important;
}

.footer li {
  font-family: 'IBMPlexSansThai-Thin';
  font-size: 16px;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.footer .footer_content {
  width: 100%;
  display: grid;
  margin-top: 32px;
  margin-bottom: 32px;
  /* place-content: center; */
  grid-template-areas: "course about policy address";
  grid-template-columns: minmax(200px, 20%) minmax(200px, 20%) minmax(200px, 20%) auto;
}

.course {
  grid-area: course;
}

.about {
  grid-area: about;
}

.policy {
  grid-area: policy;
}

.address {
  grid-area: address;
}

.underlined {
  position: relative;
  margin-right: 1rem;
}

.underlined:after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: -30px;
  width: 250px;
  height: 50px;
  border: solid 6px #A8AD00;
  border-color: #A8AD00 transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(-2.12deg);
}

.container-content {
  margin-left: 16%;
  margin-right: 16%;
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width:1280px) and (min-width: 1000px) {
  .container-content {
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 24px;
    padding-right: 24px;
    width: 88%;
  }
}

.quill {
  border-radius: 24px;
  /* overflow: hidden;  */
}

.ql-toolbar {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.ql-container {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

@media (max-width:500px) {
  .container-content {
    margin-left: 12px;
    margin-right: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title_head {
    font-size: 18px;
    gap: 16px !important;
  }
 .head_icon {
    width: 22px;
    height: 22px;
  }
}